<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Голосовалка</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-2">Голосование</h1>
            {% if user.is_authenticated %}
                <p class="text-right">
                    Привет, {{ user.username }}!
                    <a href="/polls/logout">Log out</a> |
                    <a href="/polls/password-change">
                        Change password
                    </a>
                </p>
            {% else %}
                <p class="text-right">
                    <a href="/polls/login">Log in</a> |
                    <a href="/polls/register">Register</a>
                </p>
            {% endif %}
            <hr class="mt-0 mb-4">
            <div class="card">
                <div class="card-body">
{% load crispy_forms_tags %}


<h4 class="card-title">Log in to your account</h4>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    {{ form|crispy }}
    <button type="submit" class="btn btn-success btn-block">
        Log in
    </button>
    <a href=".." class="btn btn-danger btn-block">
        Back to home
    </a>
</form>

                                    </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>